*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  interpolate-size: allow-keywords;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  line-height: 1.25;
}

p,
li {
  text-wrap: pretty;
}

img,
svg {
  display: block;
  width: 100%;
  height: auto;
}

label {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: max(1em, 16px);
}

textarea {
  resize: none;
  min-height: 4lh;
}

legend {
  padding: 0;
}

select,
::picker(select) {
  appearance: base-select;
}

body {
  font-family: sans-serif;
  line-height: 1.25;
}

p {
  max-width: 65ch;
}

/* variables */
:root {
  --lightgreen: #a8beac;
  --green: #255d2f;
  --orange: #ff7548;
  --white: #f8f8f8;
  --storfont: "DM Sans", sans-serif;
  --lillefont: "Lexend Exa", sans-serif;
  --brodfont: "Open Sans", sans-serif;
}

@media screen and (min-width: 768px) {
  .cards {
    display: grid;
  }
}
